@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*body{
    font-family: 'Bungee', cursive;
}

.navbar{
    height: 100px;
    -webkit-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
}


.masthead {
  height: 60vh;
  background-position:center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 0px !important;
  margin: 0px !important;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-family: 'Bungee', cursive;
}

.masthead .masthead-heading .type {
 
  color: #0069D9;
  
  font-family: 'Bungee', cursive;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}


 .bg-dark
 {
    background-color: #fff !important;
 }

 .nav-link{
     color: #000 !important;
     font-size: 1.1em; 
     text-transform: uppercase; 
     font-family: 'Bungee', cursive;
     
 }

 .btn-contact
 {
  
    font-size: 1.2em;
     text-transform: uppercase; 
     font-family: 'Bungee', cursive;
 }


.navbar-brand
 {
    
  margin-right: 3%;  
     
    
 }

 .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



figure.effect-ravi {
    background: #303fa9;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

figure.effect-ravi h2 {
    font-size: 158.75%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

figure.effect-ravi p a {
    color: transparent;
    opacity: 0.6;
}

figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
    opacity: 0.6;
    color: white;
}

figure.effect-ravi p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-ravi p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

figure.effect-ravi p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

figure.effect-ravi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-ravi:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-ravi:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}



/* FOOTER */


footer ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.footer_area {

	position: relative;
	color: #fff;
	background: #3954A5;
	word-break: break-all;
	word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.sf_title{
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.newsletter_form form{
	position: relative;
	display: block;
}
.newsletter_form {
	margin-top: 0px;
	overflow: hidden;
}
.single_ftr p{
	display: inline-block;
}
.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid transparent;
	transition: 0.5s;
	letter-spacing: 0.5px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #33d286;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1
}

.form-control:focus{
	border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
    font-family: 'Bungee', cursive;
    
}
.payment_mthd_icon li {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}



/* services */




.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}





.first-box{padding:10px;background:#9C0;}
.second-box{padding:10px; background:#39F;}
.third-box{padding:10px;background:#F66;}
.fourth-box{padding:10px;background:#6CC;}





.cstm-card{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.cstm-card button{
  color: #222222;
  font-size: 18px;
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  text-decoration: none !important;
  width: 100%;
  text-align: left;
  position: relative;
}
.cstm-card button:hover{
  color: #0bbbc1;
}
.cstm-card .card-header {
  border: none;
  background-color: #fbfbfb;
  padding: 15px 20px; 
}
.cstm-card .card-header h2 {
  display: block; 
}
.cstm-card button:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 1%;
  font-size: 20px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  line-height: 30px;
  margin-top: -15px;
  background-color: #3954A5;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
}
.cstm-card button[aria-expanded="true"]:after{
  content: "-";
}
.cstm-card .card-body {
  background-color: #fbfbfb;
  font-size: 14px;
  line-height: 25px;
  padding: 25px;
}




 
.landing-text
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}


.landing-text h1{
  font-size: 11.5rem;
  font-family: "Roboto", sans-serif;
 color: #fff;
 font-weight: 900;

}

.landing-text h1 span{
  
  font-family: "Roboto", sans-serif;
 color:#0069D9;


}


.heading-title {
  margin-bottom: 100px;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}
.iq-team:hover .iq-team-info {
  bottom: 0;
}
.iq-team {
  position: relative;
  overflow: hidden;
}
.iq-team .iq-team-info {
  padding: 10px 20px;
  background: none;
  position: absolute;
  bottom: -84px;
  background: #f2f2f2;
  left: 0;
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  border: 1px solid #f2f2f2;
}
.iq-team .iq-team-info span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.iq-team .share {
  background: none;
  position: absolute;
  left: -90px;
  top: 12px;
  width: 40px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.iq-team:hover .share {
  left: 1px;
}
.iq-team .share ul li {
  margin: 1px 0;
}
.iq-team .share ul li a {
  color: #ffffff;
  width: 45px;
  height: 45px;
  line-height: 50px;
  background: #ffffff;
  color: #4122be;
  border-radius: 90px;
  text-align: center;
  display: inline-block;
}
.iq-team .share ul li a:hover {
  color: #ffffff;
  background: #4a2ace;
}
.iq-team .iq-team-img {
  position: relative;
}
.iq-team .iq-team-img img {
  width: 100%;

}
.iq-team .iq-team-img:before {
  content: "";
  bottom: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(71, 38, 205, 0);
  background: -moz-linear-gradient(
    top,
    rgba(71, 38, 205, 0) 0%,
    rgba(71, 38, 205, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(71, 38, 205, 0)),
    color-stop(100%, rgba(71, 38, 205, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(71, 38, 205, 0) 0%,
    rgba(71, 38, 205, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(71, 38, 205, 0) 0%,
    rgba(71, 38, 205, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(71, 38, 205, 0) 0%,
    rgba(71, 38, 205, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(71, 38, 205, 0) 0%,
    rgba(71, 38, 205, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4122be', endColorstr='#4122be', GradientType=0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-team:hover .iq-team-img:before {
  opacity: 1;
}
.iq-team .share ul {
  list-style: none;
}




.faq-section p{
  font-size: 1.4rem;
  text-align: justify;
 
}


.faq-section h4,h1, .modal-title{
  
  text-transform: uppercase;
  color: #3954A5;
  font-family: 'Bungee', cursive;
}

.faq-section h1{
  text-align:center;
  margin-bottom:50px;
 
}

figcaption span{
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  
}

.figure-caption p{
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  color: #3954A5;
}



#contact p, h3{
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  color: #3954A5;
}

.serviceBox{text-align: center;margin-top: 60px;position: relative;z-index: 1; margin-bottom: 21px;}
.serviceBox .service-icon{width: 78px;height: 78px;border-radius:3px;background: #fff;margin: 0 auto;position: absolute;top: -34px;left: 0;right: 0;z-index: 1;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-icon{transform: rotate(45deg);}
.serviceBox .service-icon span{display: inline-block;width: 60px;height: 60px;line-height: 60px;border-radius:3px;background: #727cb6;font-size: 30px;color: #fff;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;transition: all 0.3s ease-out 0s;}
.serviceBox .service-icon span i{transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-icon span i{transform: rotate(-45deg);}
.serviceBox .service-content{background: #fff;border: 1px solid #e7e7e7;border-radius: 3px;padding: 55px 15px;position: relative;}
.serviceBox .service-content:before{content: "";display: block;width: 80px;height: 80px;border: 1px solid #e7e7e7;border-radius: 3px;margin: 0 auto;position: absolute;top: -37px;left: 0;right: 0;z-index: -1;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .service-content:before{transform: rotate(45deg);}
.serviceBox .title{font-size: 17px;font-weight: 500;color: #324545;text-transform: uppercase;margin: 0 0 25px 0;position: relative;transition: all 0.3s ease-out 0s;}
.serviceBox:hover .title{color: #727cb6;}
.serviceBox .description{font-size: 14px;font-weight: 500;line-height: 24px;margin-bottom: 0;}
.serviceBox .read-more{display: block;font-size: 14px;color: #c4c2c2;margin: 0 auto;position: absolute;bottom: -17px;left: 0; right: 0;transition: all 0.3s ease-out 0s;}
.serviceBox .read-more:hover{border: 1px solid #727cb6;color: #727cb6;text-decoration: none;}
.serviceBox.green .service-icon span{ background: #008b8b; }
.serviceBox.blue .service-icon span{ background: #3498db; }
.serviceBox.orange .service-icon span{ background: #e67e22; }
.serviceBox.green:hover .title{ color: #008b8b; }
.serviceBox.blue:hover .title{ color: #3498db; }
.serviceBox.orange:hover .title{ color: #e67e22; }

.serviceBox:hover .read-more{border: 1px solid #727cb6;color: #727cb6;}
.serviceBox.green:hover .read-more{border: 1px solid #008b8b;color: #008b8b;}
.serviceBox.blue:hover .read-more{border: 1px solid #3498db;color: #3498db;}
.serviceBox.orange:hover .read-more{border: 1px solid #e67e22;color: #e67e22;}


@media only screen and (max-width: 375px) {
  #particles-js {
    display: none;
  }

  .navbar-brand{
    width: 100px;
  }

  .navbar-toggler,
  .navbar-collapse{
    display: none;
  }

  figure.effect-ravi h2 {
    font-size: 1.2rem;
    color: #fff;
}

.section-block-grey h4 {
  font-family: 'Bungee', cursive;
  font-size: .8rem;
}

.masthead .masthead-heading {
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-family: 'Bungee', cursive;
}

.team-member, .team-member .team-img {
  width: 100%;
}

}


.accordion .card-header:after {
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
  content: "\f146";
  float: right; 
  color: #7d7d7d;
}
.accordion .card-header.collapsed:after {  
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
  content: "\f0fe";
  color: #7d7d7d;
}
.card-header .title {
  font-size: 17px;
  color: #000;
}
.card-header .accicon {
float: right;
font-size: 20px;  
width: 1.2em;
}
.card-header{
cursor: pointer;
border-bottom: none;
}
.card{
border: 1px solid #ddd;
}
.card-body{
border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
transform: rotate(180deg);
}

.web_dev{
  background-color: #727CB6 !important;
}

.bulk_pc{
  background-color: #3498DB !important;
}

.headingsmall{
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-family: 'Bungee', cursive;
}


/* dig marketing */

.services_panel .panel{min-height: 377px;border: 1px solid #3498DB; background: #fbfbfb;margin-top:10%;}
.services_panel .panel img{width:115px;}
.services_panel h6 {font-family: 'Bungee', cursive;}


/* end */

/* web sites */

.section-title {
	position: relative
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h3,h4{
	
	text-transform: capitalize;
  position: relative;
  font-family: 'Bungee', cursive;
  
	padding-bottom: 20px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.pt-100 {
	padding-top: 50px;
}
.pb-100 {
	padding-bottom: 50px;
}
.mb-100{
    margin-bottom:50px;
}
.services {
	background-color: #FBFBFB;
}
.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
}
.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #727CB6;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #727CB6;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa {
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	line-height: 60px;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover i.fa {
	background-color: #FF7200;
	color: #fff;
	border-color: #FF7200;
	border-radius: 0;
}
.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.single-service p {
	font-size: 15px;
	line-height: 1.8;
}

.siz{
  
}
