@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*body{
    font-family: 'Bungee', cursive;
}

.navbar{
    height: 100px;
    -webkit-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
}


.masthead {
  height: 60vh;
  background-position:center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 0px !important;
  margin: 0px !important;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-family: 'Bungee', cursive;
}

.masthead .masthead-heading .type {
 
  color: #0069D9;
  
  font-family: 'Bungee', cursive;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}


 .bg-dark
 {
    background-color: #fff !important;
 }

 .nav-link{
     color: #000 !important;
     font-size: 1.1em; 
     text-transform: uppercase; 
     font-family: 'Bungee', cursive;
     
 }

 .btn-contact
 {
  
    font-size: 1.2em;
     text-transform: uppercase; 
     font-family: 'Bungee', cursive;
 }


.navbar-brand
 {
    
  margin-right: 3%;  
     
    
 }

 .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



figure.effect-ravi {
    background: #303fa9;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

figure.effect-ravi h2 {
    font-size: 158.75%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

figure.effect-ravi p a {
    color: transparent;
    opacity: 0.6;
}

figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
    opacity: 0.6;
    color: white;
}

figure.effect-ravi p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-ravi p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

figure.effect-ravi p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

figure.effect-ravi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-ravi:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-ravi:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}



/* FOOTER */


footer ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.footer_area {

	position: relative;
	color: #fff;
	background: #3954A5;
	word-break: break-all;
	word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.sf_title{
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.newsletter_form form{
	position: relative;
	display: block;
}
.newsletter_form {
	margin-top: 0px;
	overflow: hidden;
}
.single_ftr p{
	display: inline-block;
}
.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid transparent;
	transition: 0.5s;
	letter-spacing: 0.5px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #33d286;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1
}

.form-control:focus{
	border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
    font-family: 'Bungee', cursive;
    
}
.payment_mthd_icon li {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}



/* services */

@media (min-width: 768px) {
    .hexagon-box-wrapper {
      position: relative;
      margin: 0 auto;
      padding: 265px 0;
      width: 470px;
      background: url(../images/h-bg.png) no-repeat center center;
      background-size: 100% auto;
    }
    .hexagon-box {
      position: relative;
      width: 470px;
      height: 223px;
      background-color: transparent;
      border-left: solid 2px #9455d0;
      border-right: solid 2px #9455d0;
    }
    .hexagon-box:before,
    .hexagon-box:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 332px;
      height: 332px;
      -webkit-transform: scaleY(0.5) rotate(-45deg);
      -ms-transform: scaleY(0.5) rotate(-45deg);
      transform: scaleY(0.5) rotate(-45deg);
      background-color: inherit;
      left: 67px;
    }
    .hexagon-box:before {
      top: -172px;
      border-top: solid 2px #9455d0;
      border-right: solid 2px #9455d0;
    }
    .hexagon-box:after {
      bottom: -172px;
      border-bottom: solid 2px #9455d0;
      border-left: solid 2px #9455d0;
    }
    .hexagon-box span {
      width: 100%;
      text-align: center;
      top: 50%;
      position: relative;
      float: left;
      margin-top: -9px;
    }
  }
  .hexagon-icon {
    position: absolute;
    z-index: 2;
  }
  .hexagon-icon i {
    display: block;
    width: 91px;
    height: 91px;
    border: 4px solid #9455d0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 25px #f8f9fa;
    font-size: 40px;
    line-height: 87px;
    color: #444;
    text-align: center;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
  }
  body.layout-2 .hexagon-icon i {
    border-width: 3px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
  }
  
  @media (min-width: 768px) {
    body.layout-2 .hexagon-icon:hover i {
      background: #9455d0;
      background: -moz-linear-gradient(-45deg, #ba4ecf 0%, #6782c9 100%);
      background: -webkit-linear-gradient(-45deg, #ba4ecf 0%, #6782c9 100%);
      background: linear-gradient(135deg, #ba4ecf 0%, #6782c9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@custom-color-gradient-start', endColorstr='@custom-color-gradient-end', GradientType=1);
      color: #fff;
    }
  }
  .hexagon-icon:nth-child(1) {
    top: 0;
    left: 50%;
    margin-left: -46px;
    margin-top: -158px;
  }
  .hexagon-icon:nth-child(1) .h-box {
    width: 370px;
    text-align: center;
    bottom: 105px;
    left: 50%;
    margin-left: -185px;
  }
  .hexagon-icon:nth-child(2) {
    top: 0;
    left: 100%;
    margin-left: -46px;
    margin-top: -46px;
  }
  .hexagon-icon:nth-child(2) .h-box {
    width: 235px;
    text-align: left;
    top: 0;
    left: 100%;
    margin: -6px 0 0 15px;
  }
  .hexagon-icon:nth-child(3) {
    bottom: 0;
    left: 100%;
    margin-left: -46px;
    margin-bottom: -46px;
  }
  .hexagon-icon:nth-child(3) .h-box {
    width: 235px;
    text-align: left;
    top: 0;
    left: 100%;
    margin: -6px 0 0 15px;
  }
  .hexagon-icon:nth-child(5) {
    bottom: 0;
    left: 50%;
    margin-left: -46px;
    margin-bottom: -160px;
  }
  .hexagon-icon:nth-child(5) .h-box {
    width: 370px;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-left: -185px;
    margin-bottom: -120px;
  }
  .hexagon-icon:nth-child(6) {
    bottom: 0;
    left: 0;
    margin-left: -46px;
    margin-bottom: -46px;
  }
  .hexagon-icon:nth-child(6) .h-box {
    width: 235px;
    text-align: right;
    top: 0;
    right: 100%;
    margin: -6px 15px 0 0;
  }
  .hexagon-icon:nth-child(7) {
    top: 0;
    left: 0;
    margin-left: -46px;
    margin-top: -46px;
  }
  .hexagon-icon:nth-child(7) .h-box {
    width: 235px;
    text-align: right;
    top: 0;
    right: 100%;
    margin: -6px 15px 0 0;
  }
  .h-box {
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    color: #2a2a2a !important;
  }
  .h-box-title {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 26px;
    font-family: 'Chivo', sans-serif;
  }
  @media (max-width: 1199px) {
    .hexagon-icon:nth-child(2) .h-box,
    .hexagon-icon:nth-child(3) .h-box,
    .hexagon-icon:nth-child(6) .h-box,
    .hexagon-icon:nth-child(7) .h-box {
      width: 180px;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .hexagon-box,
    .hexagon-box-wrapper {
      width: 320px;
    }
    .hexagon-box:before,
    .hexagon-box:after {
      width: 200px;
      height: 200px;
      left: 60px;
    }
    .hexagon-box:before {
      top: -160px;
    }
    .hexagon-box:after {
      bottom: -160px;
    }
    .h-box {
      font-size: 13px;
    }
    .hexagon-icon:nth-child(2) .h-box,
    .hexagon-icon:nth-child(3) .h-box,
    .hexagon-icon:nth-child(6) .h-box,
    .hexagon-icon:nth-child(7) .h-box {
      width: 150px;
    }
  }
  @media (max-width: 767px) {
    .hexagon-icon {
      width: 100%;
      position: relative;
      margin: 0 0 55px !important;
      text-align: center;
      left: inherit !important;
      right: inherit !important;
      top: inherit !important;
      bottom: inherit !important;
    }
    .hexagon-icon i {
      display: inline-block;
      box-shadow: none;
      margin-bottom: 15px;
    }
    .hexagon-icon:after {
      position: absolute;
      content: '';
      height: 35px;
      width: 2px;
      background-color: #9455d0;
      left: 50%;
      bottom: -45px;
    }
    .hexagon-icon:last-child:after {
      display: none;
    }
    .hexagon-icon > img {
      display: block;
      margin: 5px auto;
      max-width: 300px;
    }
    .h-box {
      position: relative;
      left: inherit !important;
      right: inherit !important;
      top: inherit !important;
      bottom: inherit !important;
      margin: 0 auto 0 !important;
      text-align: center !important;
      width: 100% !important;
      max-width: 320px;
    }
  }
  .column-filters {
    margin-bottom: 35px;
  }

  .seminor-login-modal-body .close{
    position: relative;
    top: -45px;
    left: 10px;
   color: #1cd8ad;
   }
   .seminor-login-modal-body .close{
       opacity:0.75;
   }
   
   .seminor-login-modal-body .close:focus, .seminor-login-modal-body .close:hover {
       color: #39e8b0;
    opacity: 1;
    text-decoration: none;
    outline:0;
   }
   
   .seminor-login-modal .modal-dialog .modal-content{
       border-radius:0px;
   }



.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}



@media (min-width: 768px) {
  .hexagon-box-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 265px 0;
    width: 470px;
    background: url(../images/h-bg.png) no-repeat center center;
    background-size: 100% auto;
  }
  .hexagon-box {
    position: relative;
    width: 470px;
    height: 223px;
    background-color: transparent;
    border-left: solid 2px #9455d0;
    border-right: solid 2px #9455d0;
  }
  .hexagon-box:before,
  .hexagon-box:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 332px;
    height: 332px;
    -webkit-transform: scaleY(0.5) rotate(-45deg);
    -ms-transform: scaleY(0.5) rotate(-45deg);
    transform: scaleY(0.5) rotate(-45deg);
    background-color: inherit;
    left: 67px;
  }
  .hexagon-box:before {
    top: -172px;
    border-top: solid 2px #9455d0;
    border-right: solid 2px #9455d0;
  }
  .hexagon-box:after {
    bottom: -172px;
    border-bottom: solid 2px #9455d0;
    border-left: solid 2px #9455d0;
  }
  .hexagon-box span {
    width: 100%;
    text-align: center;
    top: 50%;
    position: relative;
    float: left;
    margin-top: -9px;
  }
}
.hexagon-icon {
  position: absolute;
  z-index: 2;
}
.hexagon-icon i {
  display: block;
  width: 91px;
  height: 91px;
  border: 4px solid #9455d0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 25px #f8f9fa;
  font-size: 40px;
  line-height: 87px;
  color: #444;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
body.layout-2 .hexagon-icon i {
  border-width: 3px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}

@media (min-width: 768px) {
  body.layout-2 .hexagon-icon:hover i {
    background: #9455d0;
    background: -moz-linear-gradient(-45deg, #ba4ecf 0%, #6782c9 100%);
    background: -webkit-linear-gradient(-45deg, #ba4ecf 0%, #6782c9 100%);
    background: linear-gradient(135deg, #ba4ecf 0%, #6782c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@custom-color-gradient-start', endColorstr='@custom-color-gradient-end', GradientType=1);
    color: #fff;
  }
}
.hexagon-icon:nth-child(1) {
  top: 0;
  left: 50%;
  margin-left: -46px;
  margin-top: -158px;
}
.hexagon-icon:nth-child(1) .h-box {
  width: 370px;
  text-align: center;
  bottom: 105px;
  left: 50%;
  margin-left: -185px;
}
.hexagon-icon:nth-child(2) {
  top: 0;
  left: 100%;
  margin-left: -46px;
  margin-top: -46px;
}
.hexagon-icon:nth-child(2) .h-box {
  width: 235px;
  text-align: left;
  top: 0;
  left: 100%;
  margin: -6px 0 0 15px;
}
.hexagon-icon:nth-child(3) {
  bottom: 0;
  left: 100%;
  margin-left: -46px;
  margin-bottom: -46px;
}
.hexagon-icon:nth-child(3) .h-box {
  width: 235px;
  text-align: left;
  top: 0;
  left: 100%;
  margin: -6px 0 0 15px;
}
.hexagon-icon:nth-child(5) {
  bottom: 0;
  left: 50%;
  margin-left: -46px;
  margin-bottom: -160px;
}
.hexagon-icon:nth-child(5) .h-box {
  width: 370px;
  text-align: center;
  bottom: 0;
  left: 50%;
  margin-left: -185px;
  margin-bottom: -120px;
}
.hexagon-icon:nth-child(6) {
  bottom: 0;
  left: 0;
  margin-left: -46px;
  margin-bottom: -46px;
}
.hexagon-icon:nth-child(6) .h-box {
  width: 235px;
  text-align: right;
  top: 0;
  right: 100%;
  margin: -6px 15px 0 0;
}
.hexagon-icon:nth-child(7) {
  top: 0;
  left: 0;
  margin-left: -46px;
  margin-top: -46px;
}
.hexagon-icon:nth-child(7) .h-box {
  width: 235px;
  text-align: right;
  top: 0;
  right: 100%;
  margin: -6px 15px 0 0;
}
.h-box {
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  color: #2a2a2a !important;
}
.h-box-title {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 26px;
  font-family: 'Chivo', sans-serif;
}
@media (max-width: 1199px) {
  .hexagon-icon:nth-child(2) .h-box,
  .hexagon-icon:nth-child(3) .h-box,
  .hexagon-icon:nth-child(6) .h-box,
  .hexagon-icon:nth-child(7) .h-box {
    width: 180px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hexagon-box,
  .hexagon-box-wrapper {
    width: 320px;
  }
  .hexagon-box:before,
  .hexagon-box:after {
    width: 200px;
    height: 200px;
    left: 60px;
  }
  .hexagon-box:before {
    top: -160px;
  }
  .hexagon-box:after {
    bottom: -160px;
  }
  .h-box {
    font-size: 13px;
  }
  .hexagon-icon:nth-child(2) .h-box,
  .hexagon-icon:nth-child(3) .h-box,
  .hexagon-icon:nth-child(6) .h-box,
  .hexagon-icon:nth-child(7) .h-box {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .hexagon-icon {
    width: 100%;
    position: relative;
    margin: 0 0 55px !important;
    text-align: center;
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    bottom: inherit !important;
  }
  .hexagon-icon i {
    display: inline-block;
    box-shadow: none;
    margin-bottom: 15px;
  }
  .hexagon-icon:after {
    position: absolute;
    content: '';
    height: 35px;
    width: 2px;
    background-color: #9455d0;
    left: 50%;
    bottom: -45px;
  }
  .hexagon-icon:last-child:after {
    display: none;
  }
  .hexagon-icon > img {
    display: block;
    margin: 5px auto;
    max-width: 300px;
  }
  .h-box {
    position: relative;
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    bottom: inherit !important;
    margin: 0 auto 0 !important;
    text-align: center !important;
    width: 100% !important;
    max-width: 320px;
  }
}
.column-filters {
  margin-bottom: 35px;
}


.five {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.five > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.five > li img {
  margin-top: -5px;
}
.five > li:hover img {
  margin-top: 30px;
}
.five > li img.more-about {
  left: 103px;
  padding: 1px;
  position: absolute;
  width: 45px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 50px;
}
.five > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.five > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  top: -300px;
  background: #2f7abe;
}
.five > li:hover span p {
  color: white;
  font-size: 14px;
}
.five > li span .text-wrapper {
  opacity: 0;
}
.five > li:hover span .text-wrapper {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  opacity: 1;
}
.five > li:hover .social {
  margin-top: 250px;
}
.five > li:hover .wrapper > img {
  display: none;
}
.five > li:hover h3 {
  color: #2F7ABE;
  margin-top: -105px;
}
.five > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 350px;
}
.five > li span {
  display: block;
  height: 500px;
  left: -125px;
  position: absolute;
  top: -490px;
  width: 500px;
  background: #579CDB;
}
.five .mamber-img {
  width: 100px;
}
.five > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
 margin-top: 5px  color: #2F7ABE;
}
.five .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.five .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.five > li:hover .social li {
  opacity: 0.5;
}
.five .social li a {
  cursor: pointer;
  display: block;
}
.five .social li a:hover {
  opacity: 0.5;
}
.five .social li img {
  width: 24px;
}
.five > li:hover .social li a {
  -webkit-animation: social-show 0.5s 1;
  -moz-animation: social-show 0.5s 1;
  -o-animation: social-show 0.5s 1;
  animation: social-show 0.5s 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.five .social li img {
  width: 24px;
}
 @-webkit-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-moz-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-o-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}


.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}


.first-box{padding:10px;background:#9C0;}
.second-box{padding:10px; background:#39F;}
.third-box{padding:10px;background:#F66;}
.fourth-box{padding:10px;background:#6CC;}



.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}



.cstm-card{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.cstm-card button{
  color: #222222;
  font-size: 18px;
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  text-decoration: none !important;
  width: 100%;
  text-align: left;
  position: relative;
}
.cstm-card button:hover{
  color: #0bbbc1;
}
.cstm-card .card-header {
  border: none;
  background-color: #fbfbfb;
  padding: 15px 20px; 
}
.cstm-card .card-header h2 {
  display: block; 
}
.cstm-card button:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 1%;
  font-size: 20px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  line-height: 30px;
  margin-top: -15px;
  background-color: #3954A5;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
}
.cstm-card button[aria-expanded="true"]:after{
  content: "-";
}
.cstm-card .card-body {
  background-color: #fbfbfb;
  font-size: 14px;
  line-height: 25px;
  padding: 25px;
}




 
.landing-text
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}


.landing-text h1{
  font-size: 11.5rem;
  font-family: "Roboto", sans-serif;
 color: #fff;
 font-weight: 900;

}

.landing-text h1 span{
  
  font-family: "Roboto", sans-serif;
 color:#0069D9;


}



.mb40{margin-bottom:40px;}
.team-block { margin-bottom: 20px; }
.team-content { position: absolute; background-color: rgba(17, 24, 31, 0.8); bottom: 0px; left: 0; display: inline-block; width: 100%; color: #fff; padding: 30px; }
.team-img { position: relative; overflow: hidden; }
.team-img img { width: 100% ;}
.team-title { }
.team-meta { color: #9da4aa; font-weight: 400; font-size: 16px; }
.overlay { border-radius: 0px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: 1s ease; background-color: #11181f; }
.team-img:hover .overlay { opacity: .8; }
.team-img:hover .team-content { opacity: 0; }
.text { color: #fff; position: absolute; top: 30%; left: 30%; transform: translate(-26%, -26%); -ms-transform: translate(-26%, -26%); right: 0; font-weight: 400; font-size: 16px; }




.faq-section p{
  font-size: 1.4rem;
  
  text-transform: lowercase;
}


.faq-section h4,h1, .modal-title{
  
  text-transform: uppercase;
  color: #3954A5;
  font-family: 'Bungee', cursive;
}

.faq-section h1{
  text-align:center;
  margin-bottom:50px;
 
}

figcaption span{
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  
}

.figure-caption p{
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  color: #3954A5;
}



#contact p, h3{
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  color: #3954A5;
}


.mt-60{
  margin-top:60px;
}

.section-block-grey {
  padding: 10px 0px 10px 0px;
  background-color: #f9f9f9;
}

.serv-section-2 {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
}

.serv-section-2:before {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 0;
  content: " ";
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border-bottom-left-radius: 136px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-2-icon {
  position: absolute;
  top: 18px;
  right: 22px;
  max-width: 100px;
  z-index: 1;
  text-align: center;
}

.serv-section-2-icon i {
  color: #001c48;
  font-size: 48px;
  line-height: 65px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
  position: relative;
}

.serv-section-2 h4 {

  font-weight: 500;
  font-family: 'Bungee', cursive;
  color: #3954A5;
 
}

.serv-section-2 h5 {
  color: #333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}

.section-heading-line-left {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #001c48;
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.serv-section-2 p {
  margin-top: 25px;
  padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
  color: #fff;
}

.serv-section-2:hover:before {
  background: #001c48;
}


@media only screen and (max-width: 375px) {
  #particles-js {
    display: none;
  }

  .navbar-brand{
    width: 100px;
  }

  .navbar-toggler{
    display: none;
  }

  figure.effect-ravi h2 {
    font-size: 1.2rem;
    color: #fff;
}

}